<p>
  <%= t("activerecord.mailer.greetings", subscriber: @subscriber.email) %><br>
  <%= t("activerecord.mailer.message") %>
  <br>
  <br>
  <strong>Micolet Team</strong>
</p>
<br>
<br>
<br>
<br>
<br>
<p><small>  <%= t("activerecord.mailer.warning") %></small></p>
