<p>
  Hello <%= @subscriber.email %>, thanks for subscribing to our newsletter ✨<br>
  Soon, we'll send you exclusive offers of our products, according to your preferences.
  <br>
  <br>
  <strong>Micolet Team</strong>
</p>
<br>
<br>
<br>
<br>
<br>
<p><small>>> Please, don't answer this email.</small></p>
