<div id="<%= dom_id subscriber %>">

  <tr>
    <td><%= subscriber.email %></td>
    <% my_preference = subscriber.preferences.map{|preference| preference.name}%>
    <% @preferences.each do |preference| %>
      <td><%= my_preference.include?(preference.name) ? image_tag("check.png") : image_tag("nocheck.png") %></td>
    <% end%>
  </tr>

</div>
