<div id="<%= dom_id subscriber %>">
<div class="card-email">
  <p>
    <strong>Email:</strong>
    <%= subscriber.email %>
  </p>
 <p><strong>Preferences :</strong>
    <% subscriber.preferences.each do |preference| %>
      <%= preference.name %> |
    <% end %>
  </p>
</div>
</div>
