<h1>Editing subscriber</h1>

<%= render "form", subscriber: @subscriber %>

<br>

<div>
  <%= link_to "Show this subscriber", @subscriber %> |
  <%= link_to "Back to subscribers", subscribers_path %>
</div>
