<section class="container-main">
  <p style="color: green"><%= notice %></p>
  <table>
    <thead>
      <tr>
        <th colspan="4"><h2>Subscribers / Preferences</h2></th>
      </tr> 
      <tr>
        <th>Email</th>
        <th>Women</th>
        <th>Men</th>
        <th>Children</th>
      </tr>
    </thead>
    <tbody>
      <div id="subscribers">
        <% @subscribers.each do |subscriber| %>
          <%= render subscriber %>
        <% end %>
      </div>
    </tbody>
  </table>

  <%= link_to I18n.t("link.new_subscriber"), new_subscriber_path %>
</section>
