<p style="color: green"><%= notice %></p>
<h1>Subscribers</h1>

<div id="subscribers">
  <% @subscribers.each do |subscriber| %>
    <%= render subscriber %>
    <p>Preferences</p>
    <% subscriber.preferences.each do |preference| %>
      <%= preference.name %>
    <% end %>
  <% end %>
</div>

<%= link_to "New subscriber", new_subscriber_path %>
