<section class="container-main">
  <p style="color: green"><%= notice %></p>
  <h1>Subscribers</h1>

  <div id="subscribers" class="container-subscribers">
  <% @subscribers.each do |subscriber| %>
    <%= render subscriber %>
  <% end %>
  </div>

  <%= link_to "New subscriber", new_subscriber_path %>
</section>
