<section class="section">
<div class="section--container">
  <header class="header">
    <%= image_tag("logo.svg", :alt => "logo", style: "width: 70%") %>
    <p class="logo--subtitle">Almost new fashion with guarantee</p>
  </header>

  <div class="body">
  <div class="call-action">
    <p >Welcome! Soon we will launch our site in this country.</p>
    <p >Suscribe to recerve our newsletter.</p>
  </div>
   <%= render "form", subscriber: @subscriber, preferences:@preferences %>
  </div>



<br>

<div>
  <%= link_to "Back to subscribers", subscribers_path %>
</div>
</section>
</div>
