@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("./reset.css");
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logo--subtitle {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  color: #ced0d3;
}

.call-action {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 400;
  margin: 2rem 0;
}
.section {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.section--container {
  padding-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form--input-email {
  border: 1px solid gray;
  border-radius: 4px;
}

.form--input-email:focus {
  border: 3px solid green;
  box-shadow: 0px 1px 1px 1px green;
  outline: none;
}

.container--checkboxes,
.container--email,
.subcontainer--chexboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

.subcontainer--chexboxes {
  flex-direction: row;
}

.form--checkbox:checked {
  background-color: red;
}

.header {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 1rem;
}

.nav--language {
  display: flex;
  gap: 0.2rem;
}

.form--button-submit {
  background: none;
  background-color: green;
  border: none;
  color: white;
}
